*.memmap
*.pt
*.sh
output/
passages/
bge-base-en-v1.5/
tree/
*.tsv
__pycache__/
check_*.py
debug_*.py
encode_ms_docs_bert.py
encode_ms_docs_bert2.py
encode_ms_docs_bert4.py
eval.py
generate_*.py
gmm*.py
kmeans*.py
mrr*.py
picture.py
re_encode_docs.py
rerarrange.py
recall_100_curve2.png
rerank_beg_ms.py
kmeans_vs_gmm_adversarial.png
mrr_100_curve2.png
mrr_vs_beamsize.png
rearrange.py
rerank_beg_m3.py
run2.py
